:root {
    --verde: #00A149;
    --blanco: #fff;
    --rojo: #881014;
    --negro: #000;
    --titulos: 'Arima Madurai', cursive;
    /* si no carga una fuente, cargara la otra.*/
    --parrafos: 'Mulish', sans-serif;
}

html {
    box-sizing: border-box;
    /*1 rem = 10px*/
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    /*Sirve para ocultar el scroll*/
}

*,
*::after,
*::before {
    box-sizing: inherit;
    /*respeta los pixeles asignados a la caja */
}


/*Globales*/

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

h1,h2 {
    font-family: var(--titulos);
}

h3,p,a {
    font-family: var(--parrafos);
}

img {
    max-width: 100%;
}

.verde {
    color: var(--verde);
}

.rojo {
    color: var(--rojo);
}

.ocultar {
    display: none;
    /*Ocultaar navegacion*/
}

.btn-cerrar {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--blanco);
    position: absolute;
    top: 30px;
    right: 50px;
    user-select: none;
    /*es para que el exto no se seleccione*/
}

.pantalla-completa {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    /*Sirve para sobre poner elementos y para poder usarlo se tiene que asignar una posicion*/
}

@keyframes desplazamiento {

    /* animacion de la barra de navegacion*/
    0% {
        transform: translatex(100%)
    }

    100% {
        transform: translateX(0);
    }
}

.btn-cerrar:hover {
    cursor: pointer;
    /*Al pasar el cursor por el botos, este cambiará a la mano*/
}

.btn {
    /*Boton inicio*/
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 5rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

@media(min-width: 768px) {
    .btn {
        font-size: 2.2rem;
    }
}

.bordes {
    border: 3px solid var(--blanco);
}

@media(min-width: 768px) {
    .bordes {
        border: 4px solid var(--blanco);
    }
}

.bordes:hover {
    color: var(--verde);
    background-color: var(--blanco);
}

.btn-rojo{
    background-color:var(--rojo);
    font-weight: bold; /*Cambiar estilo de lera*/
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.btn-verde{
    background-color:var(--verde);
    border: none;
    display: inline-block;
    margin-bottom: 2rem;
    font-family: var(--parrafos);
}

.btn-verde:hover{
    background-color:var(--rojo);
    cursor: pointer;
}

/*Encabezado*/

.contenedor-navegacion {
    background-color: var(--negro);
    position: relative;
    z-index: 5;
}

.contenido-navegacion {
    display: flex;
    /*Alinear contenido*/
    align-items: center;
    /*Alinea elemento*/
    justify-content: space-between;
}

.logo h2,
.navegacion a {
    /*Color texto encabezado*/
    color: var(--blanco);
}

.logo h2 {
    font-size: 3rem;
}

.navegacion a {
    /*Estilo mobile*/
    text-decoration: none;
    /*quitar lineas debajo del texto*/
    font-size: 2rem;
    padding: 1.5rem;
    padding-left: 4rem;
    display: block;
    /*Display inline= un objeto al lado del otro y display block= un objeto debajo del otro*/
    transition: color .3s ease-in-out;
    /*Animacion al pasar el cursor por el texto*/
    text-align: center;
}

@media(min-width: 768px) {

    /* estilo pc*/
    .navegacion a {
        text-align: left;
    }
}

.navegacion a:nth-child(even):hover {
    /*Lo que se lon ponga de paramentro los hacer para los demas elementos de navegacion. even = par, hover= al pasar el cursor*/
    color: var(--rojo);
}

.navegacion a:nth-child(odd):hover {
    /*Lo que se lon ponga de paramentro los hacer para los demas elementos de navegacion. odd = impar, hover= al pasar el cursor*/
    color: var(--verde);
}

.navegacion a:first-of-type {
    margin-top: 5rem;
}

.navegacion {
    position: absolute;
    /*position= sirve para posicionar elementos*/
    top: 0;
    right: 0;
    bottom: 0;
    /*toma todo el espacio en la posicion asignada*/
    height: 100vh;
    width: 50rem;
    padding: 3rem 4rem;
    background-color: var(--negro);
    animation: desplazamiento .5s ease-in-out;
}

@media(min-width: 768px) {
    .navegacion {
        width: 40rem;
    }
}

.hamburguesa:hover {
    cursor: pointer;
}

.hamburguesa span {
    background-color: var(--blanco);
    display: block;
    /*Para poder cambiar el tamaño, el objeto tiene que ser de tipo bloque*/
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;
    /*Espacio entre las barras*/
}


/*Video*/

.contenido-header {
    position: relative;
}

.contenido-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.texto-encabezado {
    position: absolute;
    z-index: 2;
    /*Para seleccionar el texto*/
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Para alinear en el centro*/
}

.texto-encabezado h2 { /*Estilo movil*/
    color: var(--blanco);
    font-size: 4rem;
}

@media(min-width: 768px) {
    .texto-encabezado h2{
        font-size: 8rem;
    }
}

video {
    width: 100%;
    height: 100%;
}


/*Sobre nosotros*/

.contenedor-nosotros {
    padding-top: 5rem;
}

@media(min-width: 768px) {
    .contenedor-nosotros {
        display: flex; /*Poner la imagen a un lado del texto*/
        justify-content: space-between;
    }
}

.texto-nosotros,.imagenes-nosotros {
    flex: 0 0 calc(50% - 1rem);/*Flex es la abreviacion de flex-grow, flex-shrink y de flex-basis*/

}

.texto-nosotros .bienvenida {
    font-size: 4rem;
    color: var(--verde);
    text-align: center;
}
@media(min-width: 768px) {
    .texto-nosotros .bienvenida {
        text-align: left;
    }
}

.texto-nosotros h1{
    font-size: 5rem;
    text-align: center;
}

@media(min-width: 768px){
    .texto-nosotros h1{
        text-align: left;
    }
}

.texto-nosotros p{
    font-size: 2rem;
    text-align: center;
}

@media(min-width: 768px){
    .texto-nosotros p{  
        text-align: left;
    }
}

.imagenes-nosotros {
    display: flex;
    justify-content: space-between;
}

.imagenes-nosotros img {
    border-radius: 5px; /*Sirve para redondear el borde del elemento*/
}

.imagen1,.imagenes2 {
    flex: 0 0 calc(50% - 1rem)
}

.imagenes2 img {
    margin-bottom: 1rem;
}

.menu{
    padding-top: 4rem;
}

/*platillos*/
.texto-platillos{
    text-align: center;
    font-size: 5rem;
}

.botones-platillos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.botones-platillos button{
    flex:0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
}
/*Ubicacion botones*/
@media (min-width:768px) {
    .botones-platillos{
        display: inline-block;
    }
    .botones-platillos button:first-child{
        flex:unset;
        margin-left: 25rem;
        
    }
}

@media(min-width:768px){
    .platillos{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;/*wrap= pone cada elemento en una linea, nowrap=pone todos los elemenos en una linea*/
}

}

.platillo{
    flex:0 0 calc(33.3% - 1rem);
    border: 1px solid #e1e1e1;
    padding: 2rem;
    border-radius: 5px;
}

.platillo h2{
    text-align: center;
}

.platillo p{
    font-size: 1.8rem;
}

.precio{
    display: flex;
    justify-content: space-between;
}

.precio p{
    font-weight: bold;
    font-size: 2rem;
}

.precio button{
    padding: 1rem;
    border-radius: 5px;
    border:none;
    background-color: var(--rojo);
    color: var(--blanco);
    height: 3.8rem;
    position: relative;
    top: 1rem; 
}

.precio button:hover{
    background-color: var(--verde);
    cursor: pointer;
}

.separador{
    background-image: url('../assets/img/ensalada.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.separador::before{/*sobreponer texto*/
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0,.5);
    z-index: -1;
}
.contenido-separador{
    padding: 5rem;
}

.contenido-separador h2{
    font-size: 3rem;
    color: var(--blanco);
    text-align: center;
}

@media(min-width:768px){
    .contenido-separador h2{
        text-align: left;
        font-size:5rem;
        color: var(--blanco);
    }
}


.contenido-separador p{
    color: var(--blanco);
    font-size: 3rem;
    text-align: center;
}

@media (min-width: 768px){
    .contenido-separador p{
        text-align: left;
    }
}

